.main div {
    margin: 5%;
}

a {
    color: inherit; /*this will make anchors look like paragraphs, but with an underline*/
}

.test-blue {
    background-color: cornflowerblue;
}

.test-red {
    background-color: lightcoral;
}

.test-green {
    background-color: darkseagreen;
}

.test-purple {
    background-color:rgb(180, 159, 223);
}

.float-center {
    display: flex;
    justify-content: center;
}

#main-header {
    display: flex;
    width: 100%;
}

#logo {
    width: 20%
}

.image {
    background-color: khaki; /* for testing purposes */
    width: 200px;
    height: 15vh;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
}

#nav {
    width: 80%;
}

.header {
    font-size: xx-large;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    padding-top: 1px;
}

#hero {
    padding-bottom: 1%;
}

#hero-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

#hero-text {
    width: 100%;
    text-align: center;
}

#loc-and-contact {
    display: inline-block;
    width: 100%;
}

.float-left {
    float: left;
    width: 50%;
}

.float-right {
    float: right;
    width: 50%;
}

.text-header {
    font-weight: bold;
    font-size: 1.4em;
}

.text-content {
    padding-left: 5%;
    padding-right: 5%;
}

